body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  #background-image: url('images/logo.png');
  #background-size: 100% 100%;
  #background-repeat: no-repeat;
}

.navbar {
  margin-bottom: 20px;
}

.list-group {
  display:none;
}

.event-title {

}

.event-venue {

}

.event-date-time {

}

.roster-row {
  display:none;
  margin-bottom: 10px;
}

.add-player-btn {
  display:none;
  margin-bottom: 10px;
}

.team-name {

}

.add-player {

}

.player-number {
	width:75%;
	margin-bottom:5px;
}

.player-name {

}


